---
import Layout from "../layouts/Layout.astro";
import Cardinvite from '../components/Cardinvite.astro';
import { Sortinvites } from '../../backend/backend.mjs';
const Invite = await Sortinvites();
---



<Layout title=" Les invités terrifiant qui seront présent!">
    <main class="container mx-auto p-4 flex justify-center pb-10">
        {Invite.length > 0 ? (
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {Invite.map((Invite) => (
              <Cardinvite {...Invite} />
            ))}
          </div>
        ) : (
          <p class="text-gray-600 text-center">
            Aucune programmation disponible pour le moment.
          </p>
        )}
      </main>
</Layout>