---
import Layout from "../layouts/Layout.astro";
import Cardactivite from '../components/Cardactivite.astro';
import { Sortallactivite } from '../../backend/backend.mjs';
const Activite = await Sortallactivite();
---

<Layout title="Activités à venir : préparez-vous à l’action !">
    <body>

        <h1 class="text-4xl text-orange-600 justify-center flex pt-10 pb-10 font-bold"> Activités du festival</h1>

        <main class="container mx-auto p-4 flex justify-center pb-10">
            {Activite.length > 0 ? (
              <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                {Activite.map((Activite) => (
                  <Cardactivite {...Activite} />
                ))}
              </div>
            ) : (
              <p class="text-gray-600 text-center">
                Aucune programmation disponible pour le moment.
              </p>
            )}
          </main>
    </body>
    </Layout>