---
const {...Activite } = Astro.props;
---


<div class="max-w-sm bg-black text-white rounded-lg shadow-lg overflow-hidden transition-all duration-300 ease-in-out transform hover:scale-105 hover:shadow-2xl">
    <div class="p-4">
        <h2 class="text-2xl font-bold text-orange-500">{Activite.nom_activite}</h2>
        <p class="text-sm text-gray-400 mb-2">{Activite.description_activite}</p>
        <div class="flex items-center mt-3">
            <div class="ml-3">
                <p class="text-sm font-semibold">Invité : <span class="text-orange-500">{Activite.invite_associe}</span></p>
                <p class="text-xs text-gray-400">{Activite.role_invite}</p>
            </div>
        </div>
    </div>
</div>