<footer class="bg-orange-600 rounded-tl-4xl rounded-tr-4xl">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap" rel="stylesheet">
    <div class="justify-center flex">
        <p class="font-footertop mb-5  mt-5 text-2xl font-bold">Suivez-nous !</p>
        </div>
        <div class="flex gap-1 justify-center mb-5">
            <a href="https://www.tiktok.com/@mmi_montbeliard?_t=8qcZp5aIjXU&_r=1">
            <img src = "/src/assets/tiktok-icon.svg" alt = "Tiktok" />
            </a>
            <a href="https://www.instagram.com/mmi_montbeliard/profilecard/?igsh=bDl1ZnA0ZXJybjFh">
            <img src = "/src/assets/insta-icon.svg" alt = "Instagram" />
            </a>
            <a href="https://www.facebook.com/share/64fVn2dMD7sXb1cC/?mibextid=LQQJ4d">
            <img src = "/src/assets/facebook-icon.svg" alt = "Facebook" />
            </a>
        </div>

        <div class="pb-10 flex justify-center">
            <hr class="border-t-2 border-black w-[100px] mx-auto">
        </div>

        <div class="pb-10">
            <p class="font-footertop font-bold text-xl flex justify-center">Lucas Lebars</p>
            <p class="font-footertop font-bold text-xl flex justify-center">MMI 1 C2</p>
            <p class="font-footertop font-bold text-xl flex justify-center">lucas.lbrs25@outlook.com</p>
        </div>

        <div class="pb-10 flex justify-center">
            <hr class="border-t-2 border-black w-[100px] mx-auto">
        </div>

        <div class="flex justify-center pb-5">
            <img src = "/src/assets/logo-footer.svg" alt = "logo-footer" />
        </div>

    </head>
</footer>