<header class="bg-orange-600 rounded-bl-4xl rounded-br-4xl">
    <nav>

        <ul class="flex">
            <a href="">
            <img class = "ml-5 mr-16" src  = "/src/assets/menu-button.svg" alt = "logo-header" />
        </a>
            <li class="pt-10 pb-5"><a href="/"><img src = "/src/assets/logo-header.svg" alt = "logo-header" /></a></li>
        </ul>
    </nav>
</header>